---
const links = [
	{ pathAccueil: "" },
	{ pathPresentation: "presentation/" },
	{ pathProjets: "projets/" },
	{ pathContact: "contact/" },
];
---

<nav>
	<script src="{`${base}scripts/nav.js`}"></script>
	<div id="nav" class="nav-links">
		<div class="nav-logo">
			<a href="/">
				<img src="{`${base}logo.png`}" alt="Mon logo" />
			</a>
		</div>
		<div id="nav-hambuga">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<button id="nav-menu">
			<ul>
				<li class=""><a id="" class="nav-button-links" href="{`${base}${pathAccueil}`}">Acceuil</a></li>
				<li class=""><a id="" class="nav-button-links" href="{`${base}${pathPresentation}`}">Présentation</a></li>
				<li class=""><a id="" class="nav-button-links" href="{`${base}${Projets}`}">Projets</a></li>
				<li class=""><a id="" class="nav-button-links" href="{`${base}${pathContact}`}">Contact</a></li>
				<li class=""><a href="https://github.com/VinylTheDuster" target="_blank"><img src="{`${base}github-mark-white.svg`}" alt=""></a></li>
				<li class=""><a href="https://www.linkedin.com/in/william-salembien/" target="_blank"><img src="{`${base}InBug-White.png`}" alt=""></a></li>
			</ul>
			</ul>
		</button>
	</div>
</nav>